/* FOOTER*/

footer{
    margin-top: 80px;
}
.footer-text {
    font-size: 1.4em;
    text-align: center;
    font-weight: 600;
    line-height: 2em;
}

.footer-img {
    width: 8em;
    margin: 10px;
}